@use "sass:color";
@use "@scss/variables" as *;

.offers {
  &__block.gift {
    margin-top: 2em;
  }

  &__giftlist {
    margin-top: 1em;
    border: 5px dotted rgb(226, 200, 224);
    border-radius: 10px;
    padding: 0.5em 0.5em;

    & .custom__list__item {
      padding-left: 1.5em;
      padding-right: 0.5em;
    }
  }
}

/* Responsive */
@media (max-width: 980px) {
  .offers {
    &__block.gift {
      margin-top: 1rem;
      padding: 0 2.5rem;
    }

    &__giftlist {
      //   border: none;

      & .custom__list__item {
        padding-left: 1em;
        display: flex;
        align-items: flex-start;

        & .custom__list__icon svg {
          margin-top: 8px;
        }
      }
    }
  }
}
