@use "sass:color";
@use "@scss/variables" as *;

.services {
  &__content {
    max-width: 850px;
    margin: 2rem auto;
  }

  & .title {
    margin-bottom: 2.5rem;
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__note {
    font-size: 0.9rem;
    color: $tryClr;
    font-style: italic;
    text-align: right;
    margin: 1em 0;
    opacity: 0.8;
  }

  &__quote {
    font-style: italic;
    background-color: #fff;
    padding: 1rem 1.5rem;
    border: 3px solid $tryClr;
    border-style: double;
    border-radius: 5px;
    color: #6a4c50;
    margin-top: 3em;
    text-align: center;
  }
}

.oils__list {
  margin: 2em 0;
  border: 5px dotted rgb(226, 200, 224);
  border-radius: 10px;
  padding: 0 1em 0.5em;

  & div {
    display: flex;
    align-items: center;
    font-style: italic;

    & span {
      opacity: 0.8;
      font-size: 15px;
    }
  }

  &__title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  & .custom__list {
    display: flex;
    flex-wrap: wrap;

    &__item {
      padding-left: 1.8em;
    }
  }
}

/* Responsive */
@media (max-width: 980px) {
  .services {
    & .custom__list.service__item li {
      align-items: start;

      & svg {
        margin-top: 7px;
      }
    }
  }
}
