@use "sass:color";
@use "@scss/variables" as *;

.prestations {
  background: linear-gradient(
    to bottom,
    rgba(245, 240, 243, 0.8) 0%,
    rgba(245, 240, 243, 0.8) 93%,
    transparent 100%
  );
  padding: 2em 6em;
  margin-bottom: 5em;
  text-align: left;
  border-radius: 15px;

  &__content {
    max-width: 850px;
    margin: 2rem auto;
  }

  &__text {
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  &__list {
    margin: 1.5rem 0;
    list-style: none;
    padding-left: 0;

    li {
      padding-left: 3rem;
      display: flex;
      align-items: center;
      line-height: 35px;

      svg {
        margin-right: 0.5em;
        // max-width: 22px;
        // max-height: 22px;
        // min-width: 22px;
        // min-height: 22px;

        g {
          fill: $tryClr;
        }
      }
    }
  }

  &__note {
    font-size: 0.9rem;
    color: $tryClr;
    font-style: italic;
    text-align: right;
    margin: 1em 0;
    opacity: 0.8;
  }

  &__quote {
    font-style: italic;
    background-color: #fff;
    padding: 1rem 1.5rem;
    border: 3px solid $tryClr;
    border-style: double;
    border-radius: 5px;
    color: #6a4c50;
    margin-top: 3em;
    text-align: center;
  }
}

@media (max-width: 980px) {
  .prestations {
    padding: 2em;

    // &__text {
    //   text-align: center;
    // }

    &__list li {
      align-items: start;
    }
  }
}
