@use "@scss/variables" as *;

.contact__form {
  margin-top: 3em;

  & .ant-form {
    padding: 0em 7em;
    max-width: 850px;
    margin: auto;
    margin-top: 2.5em;

    & .ant-form-item {
      width: 100%;

      &-label label {
        color: #444;
      }
    }

    & .anticon {
      color: $sdyClr;
    }

    .ant-form-item-has-error .anticon {
      color: $errorClr;
    }
  }

  & .two-fieldset {
    display: flex;
    gap: 2em;

    & .ant-input-number-group-wrapper {
      display: flex;
    }
  }

  & .btn__form {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 14px;
    padding: 1em 2em;
    min-width: initial;
    margin-top: 0.5em;

    & .ant-spin,
    .ant-spin .ant-spin-dot-holder {
      color: #fff;
    }

    & .ant-spin .ant-spin-dot-holder {
      margin-right: 0.5em;
    }
  }
}

/* ANTD INPUT */
.ant-input-group-wrapper-outlined.ant-input-group-wrapper-status-error
  .ant-input-group-addon {
  color: $errorClr;
  border-color: $errorClr;
}

.ant-input-status-error:not(.ant-input-disabled) {
  border-color: $errorClr;
}

.ant-form-item .ant-form-item-explain-error {
  color: $errorClr;
}

.form__notification {
  &.success {
    background-color: rgba(120, 200, 160, 0.1);

    & .ant-notification-notice-with-icon > .anticon {
      color: $successClr;
    }
  }

  &.error {
    background-color: rgba(240, 100, 100, 0.1);

    & .ant-notification-notice-with-icon > .anticon {
      color: $errorClr;
    }
  }
}

/* Responsive */
@media (max-width: 980px) {
  .contact__form {
    & .title {
      width: min-content;
      margin: auto;
    }

    & .ant-form {
      padding: 0 1.5em;

      & .ant-form-item {
        margin-bottom: 15px;
      }
    }

    & .two-fieldset {
      flex-direction: column;
      gap: 0em;
    }
  }
}
