@use "@scss/variables" as *;

.banner-contact-info,
.contact-info {
  & .anticon {
    color: $sdyClr;
    margin-right: 0.5em;
    font-size: 18px;
  }

  & .link {
    & > .anticon {
      font-size: 20px;
    }

    &.icon {
      display: flex;
      align-items: center;

      & .anticon-facebook svg {
        border-radius: 5px;
      }
    }

    &-text {
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $sdyClr;
      }
    }
  }
}
