@use "sass:color";

$textClr: rgb(64, 64, 64);
$pryClr: rgb(226, 200, 224);
$sdyClr: color.scale($pryClr, $lightness: -35%);
$tryClr: color.scale($pryClr, $lightness: -45%);
$qtyClr: rgb(166, 123, 91);
$bgSectionClr: #f0f0f0;
