@use "./variables" as *;

body {
  margin: 0;
}

html {
  font-family: "Georgia", sans-serif;
  color: $textClr;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  position: relative;
  flex: 1;
}

a {
  color: $textClr;
  text-decoration: none;
}
