@use "@scss/variables" as *;

.opinion__list {
  display: flex;
  flex-direction: column;
  padding: 3em 0 1em 0;

  & .btn {
    margin: 1em auto 2em auto;
  }
}

.opinion-card {
  font-family: "Noto Serif Georgian", serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding: 0.7em 1em 0.9em 1em;

  &__title {
    margin: 0;
    font-size: 18px;
    color: $tryClr;
  }

  & p {
    flex: 1;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
  }

  &__tag {
    color: $sdyClr;
    font-style: italic;
    opacity: 0.8;
  }
}
