@use "@scss/variables" as *;

.about {
  &__text {
    color: #4a4a4a;
    font-size: 1rem;
    display: flex;
    max-width: 850px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  &__profil {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;

    &__images {
      position: relative;
      min-width: 200px;
      max-width: 200px;

      & .picture {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 190px;
        max-width: 190px;
        min-height: 190px;
        max-height: 190px;
        border-radius: 100%;
        border: 1px solid $tryClr;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        object-fit: cover;
        object-position: 50% 0%;
      }

      & .frame {
        position: absolute;
        top: 48%;
        left: 40%;
        transform: translate(-48%, -48%);
        min-width: 255px;
        max-width: 255px;
        border-radius: 100%;
        object-fit: cover;
        filter: blur(0.2px);
      }
    }
  }
}

.aboutme .quote {
  margin-top: 3em;
  margin-bottom: 1em;
  max-width: 750px;

  &__title {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

/* Responsive */
@media (max-width: 980px) {
  .about__profil {
    flex-direction: column;
    margin-top: 7.5em;
    margin-bottom: 0;

    &__images {
      margin-bottom: 5em;
    }
  }

  .about__text p:last-child {
    margin-top: 0;
  }
}
