@use "@scss/variables" as *;

.massage__list {
  display: flex;
  flex-direction: column;
  padding: 1.5em 0 1em 0;

  &__text {
    margin: auto;
    margin-bottom: 2em;
    font-style: italic;
  }

  & .btn {
    margin: 1em auto 0 auto;
  }

  & .quote {
    margin-top: 2em;
  }
}

.slide__container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.massage-card {
  font-family: "Noto Serif Georgian", serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;

  & img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    color: $tryClr;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__content p {
    flex: 1;
    color: rgba(0, 0, 0, 0.7);
  }

  &__small__infos {
    display: flex;
    justify-content: space-between;
    color: $sdyClr;
    font-weight: 700;
    font-size: 15.5px;
  }
}

/* ANTD CAROUSEL */
.ant-carousel {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #efe4eb 10%,
    #efe4eb 90%,
    transparent 100%
  );
  border-radius: 5px;
  padding: 1em 0 4em 0;

  & .slick-slide img {
    display: block;
    height: 170px;
    object-fit: cover;
  }

  & .slick-list .slick-slide > div {
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5em;

    & .slide__container {
      width: initial;
    }
  }

  & .slick-prev {
    inset-inline-start: 12px;
    color: $tryClr;
  }

  .slick-next {
    inset-inline-end: 12px;
    color: $tryClr;
  }

  & .slick-dots-bottom {
    bottom: -10px;
  }

  & .slick-dots {
    & li button,
    & li.slick-active::after {
      background: $tryClr;
    }
  }
}

/* Responsive */
@media (max-width: 980px) {
  .massage__list {
    &__text {
      padding: 0 1.5em;
      text-align: center;
    }

    & .quote {
      padding: 0 1.5em;
    }
  }
}
