@use "@scss/variables" as *;

.footer {
  padding: 0.5rem 10em;

  &-container {
    display: flex;
    align-items: center;
    gap: 80px;

    & img {
      width: 300px;
      margin-top: 26px;
      margin-left: 5%;
    }

    &-nav {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }

  &-title {
    color: $tryClr;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  & ul {
    padding-left: 15px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;

    & li {
      &::marker {
        color: $sdyClr;
        font-size: 16px;
      }

      & p {
        margin-left: 0.4em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-copyright {
    margin-top: 2em;
    opacity: 0.3;
    text-align: center;
  }

  & .underline {
    height: 2px;
    width: 90px;
    background-color: $tryClr;
    margin-bottom: 20px;
  }
}

@media (max-width: 1250px) {
  .footer {
    padding: 0.5rem 1em;
  }
}

@media (max-width: 980px) {
  .footer {
    &-container {
      flex-direction: column;
      gap: 0;

      & img {
        margin-left: 0;
      }

      &-nav {
        margin-top: 1em;
        justify-content: center;
        gap: 5em;
      }
    }
  }
}

@media (max-width: 580px) {
  .footer-container-nav {
    flex-direction: column;
    gap: 0;
    margin-left: 2em;
  }
}
