@use "@scss/variables" as *;

.footer {
  padding: 0.5rem 1em;
  margin-top: 1em;

  &__container {
    display: flex;
    align-items: center;
    gap: 80px;

    & img {
      width: 300px;
      margin-top: 26px;
      margin-left: 5%;
    }

    &__nav {
      display: flex;
      justify-content: space-around;
      width: 100%;
      gap: 0.5em;
    }
  }

  &__title {
    color: $tryClr;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  & ul {
    padding-left: 15px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;

    & li {
      &::marker {
        color: $sdyClr;
        font-size: 16px;
      }

      & a {
        color: #444;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $sdyClr;
        }
      }

      & p {
        margin-left: 0.4em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__copyright {
    margin-top: 2em;
    opacity: 0.3;
    text-align: center;
  }

  & .underline {
    height: 2px;
    width: 90px;
    background-color: $tryClr;
    margin-bottom: 20px;
  }
}

/* Responsive */
@media (max-width: 1250px) {
  .footer {
    &__container {
      flex-direction: column;
      gap: 0;

      & img {
        margin-left: 0;
      }

      &__nav {
        margin-top: 1em;
        justify-content: center;
        gap: 5em;
      }
    }
  }
}

@media (max-width: 935px) {
  .footer__container__nav {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0 2em;
    margin: 0 2em;
  }
}

@media (max-width: 635px) {
  .footer__container__nav {
    flex-direction: column;
  }
}
