@use "@scss/variables" as *;

.banner {
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgba(245, 240, 243, 0.8) 0%,
    rgba(245, 240, 243, 0.8) 93%,
    transparent 100%
  );
  padding: 3em 6em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.5;

  &-container {
    display: flex;
    justify-content: space-between;

    &-text {
      font-size: 18px;
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & .title {
        margin-top: 0;
        color: $tryClr;
        font-size: 34px;
        justify-content: start;
      }
    }

    &-img {
      margin-top: -2em;
      margin-bottom: -4em;
      width: 370px;
      object-fit: contain;
      opacity: 0.75;
    }
  }
}

/* Responsive */
@media (max-width: 980px) {
  .banner {
    padding: 3em 2em;
  }
  .banner-container {
    &-text {
      width: 100%;
    }

    &-img {
      display: none;
    }
  }
}
