@use "@scss/variables" as *;

.banner {
  overflow: hidden;
  background: $bgBannerClr;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Responsive */
@media (max-width: 980px) {
  .banner {
    padding: 2em 3em;
  }
}

@media (max-width: 400px) {
  .banner {
    padding: 1.5em 1.8em 2em 1.8em;
  }
}
